html, body{
  margin:0; 
  color: white;
  background-color: black;
  font-family: 'Exo 2', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
/* use this for mobile */
/* button:focus {
  outline:0;
} */
h1, h2{
  font-family: 'Audiowide', cursive;
  color: #26A5E8;
}
ol{
  padding-left: 1em;
}
ul{
  padding: 0;
}
ul#menu li a{
  text-decoration: none;
  display: inline-block;
  color: white;
  -webkit-transition: color 0.6s;
  -moz-transition: color 0.6s;
  -o-transition: color 0.6s;
  transition: color 0.6s;
}
ul#menu li a:hover{
  color: #26A5E8;
  text-decoration: inherit;
}
ul#menu{
  white-space: nowrap;
}
ul#menu li{
  display: inline-block;
  color: white;
  padding: 0 7%;
}

#menu{
  position: fixed;
  top:6%;
  right: 8%;
  display: block;  
  overflow: hidden;
  /* width must be smaller than width for menu.show */
  width: 30%;
  opacity: 0;
  z-index: 10;
}
#menu.show{
  opacity: 1;
  /* must be large enough to fit menu items */
  width: 40%;
}
#menuToggle{
  z-index: 10;
  position: fixed;
  top:5%;
  right: 3%;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
} 
.rotate{ 
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -o-transform:rotate(-180deg);
  transform:rotate(-180deg);
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
  background-color: #26A5E8;
}

.full{
  height: 110vh;
  margin-top: 2%;
  margin-bottom: 2%;
}

#About{
  height: 110vh;
  padding: 0 5%;
  /* background-color: rgb(10, 10, 10); */
  /* background-color: green; */
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: right;
}
/* about section animation in */
.portraitIn{
  width: 100%;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
.aboutHeaderIn{
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
.aboutText1In{
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
.aboutText2In{
  animation-duration: 1.6s;
  -webkit-animation-duration: 1.6s;
  animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
.contactText1In{
  animation-duration: 1.4s;
  -webkit-animation-duration: 1.4s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
.contactText2In{
  animation-duration: 1.4s;
  -webkit-animation-duration: 1.4s;
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

#logo{
  position: fixed;
  top: 3%;
  left: 1%;
  width: 10%;
  z-index: 5;
  transition: all 0.5s ease;
}
#logo:hover{
  filter: invert(100%);
  transform: scale(1.1);
}

#intro{
  text-align: center;
  position: absolute;
  top: 58%;
  left: 50%;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  /* z-index: -3; */
  /* height: 100vh; */
}

/* ---- particles.js container ---- */ 
#particles-js{ 
  width: 100%; 
  height: 110vh;
  background-image: url("../images/TBC-logo2.png"); 
  background-repeat: no-repeat; 
  background-size: 25%; 
  background-position: 50% 30%;
}