#bgroundContainer{
  position: fixed;
  bottom: 0;
  left: -10%;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
}


html, body{
  margin:0; 
  color: white;
  background-color: black;
  font-family: 'Exo 2', sans-serif;
  font-size: 1em;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: #26A5E8;
}
/* use this for mobile */
button#menuToggle:focus {
  outline:0;
}
h1, h2{
  font-family: 'Audiowide', cursive;
  color: #26A5E8;
}
h5{
  margin:0;
}
ol{
  padding-left: 1.5em;
}
ul{
  padding: 0;
}
ul#menu li a{
  text-decoration: none;
  display: inline-block;
  color: white;
  -webkit-transition: color 0.7s, border 0.5s;
  -moz-transition: color 0.7s, border 0.5s;
  -o-transition: color 0.7s, border 0.5s;
  transition: color 0.7s, border 0.5s;
}
ul#menu li a:hover{
  color: #26A5E8;
  text-decoration: inherit;
  border-bottom: 2px solid #26A5E8;
}
ul#menu{
  white-space: nowrap;
}
ul#menu li{
  display: inline-block;
  color: white;
  padding: 0 7%;
}

#menu{
  position: fixed;
  top:6%;
  right: 8%;
  display: block;  
  overflow: hidden;
  /* width must be smaller than width for menu.show */
  width: 30%;
  opacity: 0;
  z-index: 10;
}
#menu.show{
  opacity: 1;
  /* must be large enough to fit menu items */
  width: 40%;
}
#menuToggle{
  z-index: 10;
  position: fixed;
  top:5%;
  right: 3%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
#menuToggle:hover{
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.rotate{ 
  -webkit-transform:rotate(-180deg);
  transform:rotate(-180deg);
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after{
  background-color: #26A5E8;
}
#menuToggle.is-active .hamburger-inner,
#menuToggle.is-active .hamburger-inner::before,
#menuToggle.is-active .hamburger-inner::after{
  background-color: white;
}
#menuToggle:hover .hamburger-inner,
#menuToggle:hover .hamburger-inner::before, 
#menuToggle:hover .hamburger-inner::after{
  background-color: white;
}

/* section animations in */
#overviewHeaderIn,
.step1HeaderIn,
.step2HeaderIn,
.step3HeaderIn,
.step4HeaderIn{
  animation-duration: 1.4s;
  -webkit-animation-duration: 1.4s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
#overviewTextIn,
.step1TextIn,
.step2TextIn,
.step3TextIn,
.step4TextIn{
  animation-duration: 1.4s;
  -webkit-animation-duration: 1.4s;
  animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
.contactText1In{
  animation-duration: 1.4s;
  -webkit-animation-duration: 1.4s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
.contactText2In{
  animation-duration: 1.4s;
  -webkit-animation-duration: 1.4s;
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

#logo{
  /* display: none; */
  position: fixed;
  top: 3%;
  left: 1%;
  width: 10%;
  z-index: 5;
  transition: all 0.5s ease;
}
#logo:hover{
  filter: invert(100%);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

#titleCharacter{
  height: 80vh;
  position: absolute;
  bottom: 0;
  right:0;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
#titleText{
  position: absolute;
  top: 45%;
  left: 40%;
  text-align: center;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes logoFadeOut {
  from { opacity: 1; }
  to { opacity: 0.01; }
}
@keyframes logoFadeOut {
  from { opacity: 1; }
  to { opacity: 0.01; }
}
.logoFadeOut {
  -webkit-animation-name: logoFadeOut;
  animation-name: logoFadeOut;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes rotateLeft {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(-30deg); }
}
@keyframes rotateLeft {
  from { transform: rotate(0deg); }
  to { transform: rotate(-30deg); }
}
@-webkit-keyframes rotateRight {
  from { -webkit-transform: rotate(-30deg); }
  to { -webkit-transform: rotate(0deg); }
}
@keyframes rotateRight {
  from { transform: rotate(-30deg); }
  to { transform: rotate(0deg); }
}
.rotateLeft {
  -webkit-animation-name: rotateLeft;
  animation-name: rotateLeft;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.rotateRight {
  -webkit-animation-name: rotateRight;
  animation-name: rotateRight;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@-webkit-keyframes adjustLeft {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(-15deg); }
}
@keyframes adjustLeft {
  from { transform: rotate(0deg); }
  to { transform: rotate(-15deg); }
}
.adjustLeft{
  -webkit-animation-name: adjustLeft;
  animation-name: adjustLeft;
  animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  /* animation-delay: 2.4s;
  -webkit-animation-delay: 2.4s; */
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}


@-webkit-keyframes projectFadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate(-100%, -25%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}
@keyframes projectFadeInLeft {
  from {
    opacity: 0;
    transform: translate(-100%, -25%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.projectFadeInLeft {
  -webkit-animation-name: projectFadeInLeft;
  animation-name: projectFadeInLeft;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

@-webkit-keyframes projectFadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate(100%, -25%);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
}
@keyframes projectFadeInRight {
  from {
    opacity: 0;
    transform: translate(100%, -25%);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.projectFadeInRight {
  -webkit-animation-name: projectFadeInRightt;
  animation-name: projectFadeInRight;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
/* ------------------------------------------------------------ */
@-webkit-keyframes projectFadeOutRight {
  from {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(100%, 25%);
  }
}
@keyframes projectFadeOutRight {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(100%, 25%);
  }
}
.projectFadeOutRight {
  -webkit-animation-name: projectFadeOutRight;
  animation-name: projectFadeOutRight;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
/* ------------------------------------------------ */
@-webkit-keyframes projectFadeOutLeft {
  from {
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(-100%, 25%);
  }
}
@keyframes projectFadeOutLeft {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(-100%, 25%);
  }
}
.projectFadeOutLeft {
  -webkit-animation-name: projectFadeOutLeft;
  animation-name: projectFadeOutLeft;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}

#insightsImage, 
#profadeImage, 
#bbctImage, 
#odaImage, 
#dtfImage, 
#graphicsImage, 
#portfolioImage{
  padding-top: 8%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s ease;
}

#insightsImage:hover,
#bbctImage:hover,
#dtfImage:hover{
  -webkit-filter: none;
  filter: none;
  -webkit-transform: scale(1.1) rotate(-15deg);
  transform: scale(1.1) rotate(-15deg);
} 
#profadeImage:hover, 
#odaImage:hover, 
#graphicsImage:hover{
  -webkit-filter: none;
  filter: none;
  -webkit-transform: scale(1.1) rotate(15deg);
  transform: scale(1.1) rotate(15deg);
} 

.invisible{
  opacity: 0.01;
  /* display: none; */
}

/* ---- particles.js container ---- */ 
#particles-js{ 
  width: 100%; 
}





button.contactButton {
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px transparent;
  color: white;
  position: relative;
}
button.contactButton::before, button.contactButton::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #26A5E8;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #26A5E8;
  border-right-color: #26A5E8;
  transition: width 0.5s ease-out, height 0.5s ease-out 0.5s;
}
.draw:hover::after {
  border-bottom-color: #26A5E8;
  border-left-color: #26A5E8;
  transition: border-color 0s ease-out 1s, width 0.5s ease-out 1s, height 0.5s ease-out 1.25s;
}

.center:hover {
  color: #26A5E8;
}
.center::before, .center::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}
.center::before {
  border-top: 2px solid #26A5E8;
  border-bottom: 2px solid #26A5E8;
  transform: scale3d(0, 1, 1);
}
.center::after {
  border-right: 2px solid #26A5E8;
  border-left: 2px solid #26A5E8;
  transform: scale3d(1, 0, 1);
}
.center:hover::before, .center:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 0.5s;
}

#fullpage{
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
}

.full{
  height: 100vh;
}