html, body{
  margin:0; 
  color: #fff;
  background-color: #000;
  font-family: 'Exo 2', sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: #26A5E8;
}
/* use this to remove button outline on mobile */
button#menuToggle:focus {
  outline:0;
}
h1, h2{
  font-family: 'Audiowide', cursive;
  color: #26A5E8;
}
h5{ margin: 0; }
ol{ padding-left: 1.5em; }
ul{ padding: 0; }
ul#menu li a{
  text-decoration: none;
  display: inline-block;
  color: #fff;
  -webkit-transition: color 0.7s, border 0.5s;
  -moz-transition: color 0.7s, border 0.5s;
  -o-transition: color 0.7s, border 0.5s;
  transition: color 0.7s, border 0.5s;
}
ul#menu li a:hover{
  color: #26A5E8;
  text-decoration: inherit;
  border-bottom: 2px solid #26A5E8;
}
ul#menu{
  white-space: nowrap;
}
ul#menu li{
  display: inline-block;
  color: #fff;
  padding: 0 7%;
}

.invisible{
  opacity: 0.01;
}
#menu{
  position: fixed;
  top:6%;
  right: 8%;
  display: block;  
  overflow: hidden;
  /* width must be smaller than width for menu.show */
  width: 30%;
  opacity: 0;
  z-index: 10;
}
#menu.show{
  opacity: 1;
  /* must be large enough to fit menu items */
  width: 40%;
}
#menuToggle{
  z-index: 10;
  position: fixed;
  top: 4%;
  right: 3%;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
#menuToggle:hover{
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}
.rotate{ 
  -webkit-transform:rotate(-180deg);
  transform:rotate(-180deg);
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after{
  background-color: #26A5E8;
}
#menuToggle.is-active .hamburger-inner,
#menuToggle.is-active .hamburger-inner::before,
#menuToggle.is-active .hamburger-inner::after{
  background-color: #fff;
}
#menuToggle:hover .hamburger-inner,
#menuToggle:hover .hamburger-inner::before, 
#menuToggle:hover .hamburger-inner::after{
  background-color: #fff;
}
#mobileMenu{
  position: fixed;
  display: none;  
  overflow: hidden;
  padding-top: 30%;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  z-index: 9;
  text-align: center;
  background-color: #000;
}
#mobileMenu.show{
  opacity: 0.9;
  width: 100%;
  height: 50vh;
}
#mobileMenu ul{
  list-style-type: none;
}
#mobileMenu ul li{
  padding: 30px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
#mobileMenu ul li a{
  display: block;
  text-decoration: none;
  color: #26A5E8;
}
#mobileContact{
  margin-top: 40px;
  /* overflow: hidden; */
  background-image: url("../images/mobileContact_bg.jpg");
  background-size: cover;
}

#step1Text,
#step2Text,
#step3Text,
#step4Text{
  padding: 0 5%;
}

/* ---- particles.js container ---- */ 
#particles-js{ 
  width: 100%;
  height: 100vh;
}

#logo{
  position: fixed;
  left: 1%;
  z-index: 5;
  transition: all 0.5s ease;
}
#logo:hover{
  filter: invert(100%);
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

#titleCharacter{
  /* height: 80vh; */
  position: absolute;
  /* bottom: 25%; */
  right:0;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
#titleText{
  position: absolute;
  top: 45%;
  /* left: 37.5%; */
  text-align: center;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-delay: 1.3s;
  -webkit-animation-delay: 1.3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

.aniWrap {
  position: absolute;
  /* bottom: 15%; */
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  display: block;
  width: 30px;
}
.mouse {
  width: 30px;
  height: 55px;
  border: 2px solid #fff;
  border-radius: 14px;
}
.scroller {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #26A5E8;
  position: relative;
  top: 10px;
  left: 11px;
  -webkit-animation: scrolls 1.8s ease-out infinite;
  animation: scrolls 1.8s ease-out infinite;
}
div.arrows span{
  width: 14px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 9px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 3px solid #26A5E8;
  border-bottom: 3px solid #26A5E8;
  border-radius: 3px;
}
.top,.middle,.bottom {
  -webkit-animation: chevron 2.5s infinite;
  animation: chevron 2.5s infinite;
}
.top {
  margin-top: 36px;
  animation-delay: .1s;
  -webkit-animation-delay: .1s;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
}
.middle {
  margin-top: 56px;
  animation-delay: .5s;
  animation-direction: alternate;
  -webkit-animation-delay: .5s;
  -webkit-animation-direction: alternate;
}
.bottom {
  margin-top: 76px;
  animation-delay: .9s;
  animation-direction: alternate;
  -webkit-animation-delay: .9s;
  -webkit-animation-direction: alternate;
}
@-webkit-keyframes scrolls {
  0%   {top: 5px; opacity: 0.5; height: 4px}
  80% {top: 20px; opacity: 1; height: 8px}
  /* 95% {top: 20px; opacity: 0; height: 8px} */
  100% {top: 5px; opacity: 0S; height: 4px}
} 
@keyframes scrolls {
  0%   {top: 5px; opacity: 0.5; height: 4px}
  80% {top: 20px; opacity: 1; height: 8px}
  /* 95% {top: 20px; opacity: 0; height: 8px} */
  100% {top: 5px; opacity: 0; height: 4px}
}
@-webkit-keyframes chevron {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes chevron {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

/* section animations in */
#overviewHeaderIn{
  animation-duration: 1.4s;
  -webkit-animation-duration: 1.4s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
#overviewTextIn,
.step1Text, .step2Text,
.step3Text, .step4Text{
  animation-duration: 1.4s;
  -webkit-animation-duration: 1.4s;
  animation-delay: 1.4s;
  -webkit-animation-delay: 1.4s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
.contactText1In{
  animation-duration: 1.4s;
  -webkit-animation-duration: 1.4s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}
.contactText2In{
  animation-duration: 1.4s;
  -webkit-animation-duration: 1.4s;
  animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
}


@-webkit-keyframes logoFadeOut {
  from { opacity: 1; }
  to { opacity: 0.01; }
}
@keyframes logoFadeOut {
  from { opacity: 1; }
  to { opacity: 0.01; }
}
.logoFadeOut {
  -webkit-animation-name: logoFadeOut;
  animation-name: logoFadeOut;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

button.contactButton {
  background: none;
  border: 0;
  box-sizing: border-box;
  padding: 1em 2em;
  box-shadow: inset 0 0 0 2px transparent;
  color: #fff;
  position: relative;
}
button.contactButton::before, button.contactButton::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  transition: color 0.25s;
}
.draw::before, .draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: #26A5E8;
}
.draw:hover::before, .draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: #26A5E8;
  border-right-color: #26A5E8;
  transition: width 0.5s ease-out, height 0.5s ease-out 0.5s;
}
.draw:hover::after {
  border-bottom-color: #26A5E8;
  border-left-color: #26A5E8;
  transition: border-color 0s ease-out 1s, width 0.5s ease-out 1s, height 0.5s ease-out 1.25s;
}

.center:hover {
  color: #26A5E8;
  background-color: rgba(0, 0, 0, 0.2);
}
.center::before, .center::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}
.center::before {
  border-top: 2px solid #26A5E8;
  border-bottom: 2px solid #26A5E8;
  transform: scale3d(0, 1, 1);
}
.center::after {
  border-right: 2px solid #26A5E8;
  border-left: 2px solid #26A5E8;
  transform: scale3d(1, 0, 1);
}
.center:hover::before, .center:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 0.5s;
}

#fullpage{
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
}

.full{
  height: 100vh;
}

@media only screen and (max-width: 767px){ /* for mobile*/
  /* html{ overflow-x: hidden !important; } */
  h1{ font-size: 2.2em; }
  h2{ font-size: 1.7em; }
  h3{ font-size: 1.5em; }
  h4{ font-size: 1.3em; }
  h5{ font-size: 1.1em; }
  p{
    font-size: 1em;
    line-height: 1.4;
  }
  li a{ font-size: 1em; }
  #titleCharacter{ bottom: 25%; }
  #titleText{ left: 21%; }
  #contactHeader{ margin-top: 40%; }
  #contactLinks{ margin-top: 60%; }

  #logo{
    top: 4%; 
    width: 20%;
  }

  #menuToggle.is-active .hamburger-inner,
  #menuToggle.is-active .hamburger-inner::before,
  #menuToggle.is-active .hamburger-inner::after{
    background-color: #26A5E8;
  }

  #bground{
    position: fixed;
    top: 35%;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
  }

  .aniWrap{ bottom: 25%; }
  #titleCharacter{ height: 60vh; }
  #overviewHeaderIn{ margin-top: 30%; }
  #overviewTextIn{
    margin-top: 40px;
    /* padding: 0 5%; */
  }
  #overviewTextIn p{
    /* margin-bottom: 5px; */
    text-align: justify;
  }
  #overviewTextIn ul{ padding: 0 5% 0 12%; }
  #phase1,#phase2,#phase3,#phase4{ margin: 40px auto; }
  #ovMobile{ margin: 20px auto;}
  #ovMobile ul li{ margin: auto 20px;}
}

@media only screen and (min-width: 768px) and (max-width: 991px){ /*tablet*/
  h1{ font-size: 3em; }
  h2{ font-size: 2.6em; }
  h3{ font-size: 2.2em; }
  h4{ font-size: 1.7em; }
  h5{ font-size: 1.3em; }
  p{
    font-size: 1.2em;
    line-height: 1.5;
  }
  li a{ font-size: 1.3em; }
  #titleCharacter{ bottom: 0; }
  #titleText{ left: 36%; }
  #contactHeader{ margin-top: 22.5%; }
  #contactLinks{ margin-top: 35%; }
  #menu{
    /* width must be smaller than width for menu.show */
    width: 50%;
  }
  #menu.show{
    /* must be large enough to fit menu items */
    width: 60%;
  }
  #logo{
    top: 3%;
    width: 15%;
  }

  #menuToggle.is-active .hamburger-inner,
  #menuToggle.is-active .hamburger-inner::before,
  #menuToggle.is-active .hamburger-inner::after{
    background-color: #fff;
  }
 
  .aniWrap {
    bottom: 20%;
  }
  #titleCharacter{
    height: 70vh;
  }
  #overviewHeaderIn{
    margin: 20% auto 50px;
  }
  #overviewTextIn{
    /* margin-top: 10%; */
    padding: 0 10%;
  }
  #overviewTextIn ul{
    padding: 0 10%;
    letter-spacing: 1.1px;
  }
}

@media only screen and (min-width: 992px){ /*desktop and higher*/
  h1{ font-size: 3.2em; }
  h2{ font-size: 2.7em; }
  h3{ font-size: 2.3em; }
  h4{ font-size: 1.8em; }
  h5{ font-size: 1.3em; }
  p{
    font-size: 1em;
    line-height: 1.6;
    letter-spacing: 1.1px;
  }
  #titleCharacter{ bottom: 0; }
  #logo{
    top: 3%;
    width: 10%;
  }

  #bground{
    position: fixed;
    top: 5%;
    left: 0;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
  }

  #titleText{ left: 40%; }
  #contactHeader{ margin-top:15%; }
  #contactLinks{ margin-top:22.5%; }
  
  #menuToggle.is-active .hamburger-inner,
  #menuToggle.is-active .hamburger-inner::before,
  #menuToggle.is-active .hamburger-inner::after{
    background-color: #fff;
  }
  #menuToggle:hover .hamburger-inner,
  #menuToggle:hover .hamburger-inner::before, 
  #menuToggle:hover .hamburger-inner::after{
    background-color: #fff;
  }
  .aniWrap { bottom: 15%; }
  #titleCharacter{ height: 80vh; }
  #overviewHeaderIn{ margin-top: 10%; }
  #overviewTextIn{
    margin-top: 18.5%;
    padding: 0 22.5%;
  }
  #overviewTextIn ul{
    padding: 0 6%;
    letter-spacing: 1.1px;
  }
  #phase1,#phase2,#phase3,#phase4{ height: 100vh; }
  button.contactButton{ cursor: pointer; }
}